@CHARSET "UTF-8";
@font-face {
	font-family: 'quarkbold';
	src: url('../fonts/quark-bold-webfont.woff2') format('woff2'),
		url('../fonts/quark-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bassett_hnormal';
	src: url('../fonts/basshn-webfont.woff2') format('woff2'),
		url('../fonts/basshn-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'superspace_regularregular';
	src: url('../fonts/superspace_regular_ver_1.00-webfont.woff2') format('woff2'),
		 url('../fonts/superspace_regular_ver_1.00-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'cs_chatthairegular';
	src: url('../fonts/cschatthai-webfont.woff2') format('woff2'),
		 url('../fonts/cschatthai-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
}
.wrapper {
	width: 100%;
	margin: 0!important;
	padding: 0!important;
}
header {
	width: 100%;
	border-bottom: 2px solid #fff;
	background: url('../images/header-bg1.png') left top no-repeat #fff;
}
.header {
	margin: 0;
	padding: 0;
	height: 25vh;
	font-size: 6vw;
	position: relative;
	overflow: hidden;
}
.header>hgroup {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 15px;
}
.header>hgroup>h1 {
	width: 100%;
	margin: 0 auto;
	padding: 26px 0 0 0;
	font-family: 'quarkbold';
	font-size: 58%;
	letter-spacing: 2px;
	font-weight: 500;
	color: #056839;
	text-shadow: 
		0 0 2px #ffffff,
		0 0 4px #ffffff,
		0 0 5px #92d99c,
		0 0 10px #92d99c;
}
.header>hgroup>h1~h2 {
	width: 100%;
	margin: 0 auto;
	font-family: 'bassett_hnormal';
	font-size: 50%;
	letter-spacing: 3px;
	color: #d89f09;
}
.header hgroup > h1 span, .header hgroup > h2 span {
	color: #fc5305;
}
.main-nav {
	margin: 0;
	padding: 5px 0;
	background: #ffffff;
	border-bottom: 2px solid #e0e0e0;
}
nav, .nav, .navbar-nav, .navbar {
	margin: 0;
	padding: 0;
	border: none !important;
	border-radius: 0 !important;
	background: #fff;
}
.navbar-nav a {
	font-family: 'quarkbold';
	margin: 0 2px;
	font-size: 1.875em;
	font-style: normal;
	letter-spacing: 1px;
	color: #006CA2 !important;
	background-color: #fff;
}
.navbar-nav a:hover {
	color: #ffffff !important;
	background-color: #FD8D02 !important;
}
ul.dropdown-menu {
	font-size: 1.075em !important;
}
ul.dropdown-menu li {
	font-size: .875em;
}
a.active {
	display: inline-block;
	color: #ffffff !important;
	background-color: #FD8D02 !important;
}
.co-logo {
	position: absolute;
	top: 0;
	left: 56%;
}
.co-logo figcaption {
	display: none;
}
.co-logo figure {
	display: inline-block;
}
.co-logo>figure:nth-child(1) {
	padding: 22px 0 0 0;
}
.co-logo>figure:nth-child(2) {
	padding-left: 15px;
}
.co-logo>figure:nth-child(3) {
	padding-left: 10px;
}
.co-logo>figure:nth-child(4) {
	padding-left: 1px;
}
.header:after {
	content: "";
	clear: both;
	display: block;
}
.tct {
	text-align: center;
}
.head1 {
	font-family: 'quarkbold';
	font-size: 1.575em;
	letter-spacing: 1px;
}
.content {
	width: 98%;
	margin: 0 auto;
	padding: 15px 0 0 0 !important;
}
i[class^="fa fa"] {
	display: inline-block;
	padding-right: 5px !important;
}
#abtList {
	font-size: 1em;
	border-bottom: 1px solid #0588B6;
}
table#abtList th {
	font-size: 1.20em;
	border-bottom: 1px solid #0588B6;
	color: #006CA2;
}
table#abtList td {
	font-size: 1.20em;
	color: #444444;
}
/* uiMethod */
.ui-method {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	font-size: 1.20em;
}
.ui-method>section {
	margin: 0;
	padding: 0 0 16px 0;
	border-bottom: 2px solid #037DAE;
}
.ui-method>section h1 {
	font-size: 1.375em;
	color: #FC5305;
	font-family: 'quarkbold';
	letter-spacing: 2px;
	text-decoration: underline;
}
.ui-method>section figcaption {
	font-size: 1.20em;
	color: #D89F09;
	text-decoration: underline;
}
.ui-method ol {
	margin-bottom: 10px;
}
.ui-method ol li {
	padding: 4px 0;
	font-size: 1.20em;
	line-height: 1.350em;
}
.ui-method ol li > ul {
	margin: 10px 0;
}
.ui-method ol li > ul li {
	padding: 4px 0;
	font-size: 1em;
	line-height: 1.20em;
}
.txt-red {
	color: red;
}
.txt-black {
	color: black;
}
.font1 {
	font-size: .875em;
}
.font2 {
	font-size: 1em;
}
.font3 {
	font-size: 1.875em;
}
.font4 {
	font-size: 2em;
}
/*
form.form-for-view input,
form.form-for-view input[readonly],
form.form-for-view input[type="text"],
form.form-for-view input[type="email"] {
	border: none;
	box-shadow: none;
	outline: none;
	background: none;
}*/
