@CHARSET "UTF-8";
@font-face {
	font-family: 'quarkbold';
	src: url('../fonts/quark-bold-webfont.woff2') format('woff2'),
		url('../fonts/quark-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'bassett_hnormal';
	src: url('../fonts/basshn-webfont.woff2') format('woff2'),
		url('../fonts/basshn-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
.header {
	width: 100%;
	padding: 20px 0 10px 0;
	background: #fff url("../images/head-wall.png") no-repeat top right;
}
.header figcaption {
	display: none;
}
.logos {
	width: 100%;
	text-align: center;
}
.logos > figure {
	display: inline-block;
	width: 100px;
	margin-right: 40px;
}
.logos > figure img {
	width: auto;
	height: auto;
	width: 7vw;
}
.header hgroup {
	width: 90%;
	margin: 0 auto;
	letter-spacing: 2px;
	border-bottom: 2px solid #FF5E00;
}
.header hgroup h1 {
	width: 100%;
	text-align: center;
	font-family: 'quarkbold';
	font-size: 3.875em;
	font-size: 4.5vw;
	letter-spacing: 2px;
	font-weight: 500;
}
.header hgroup > h1~h2 {
	width: 100%;
	text-align: center;
	font-family: 'bassett_hnormal';
	font-size: 2.875em;
	font-size: 3.8vw;
	letter-spacing: 3px;
	color: #818181;
}
.header hgroup > h1 span, .header hgroup > h2 span {
	color: #EA4335;
}
.first-content {
	width: 100%;
	min-height: 200px;
	margin: 0;
	padding: 0;
}
.first-content figcaption {
	display: none;
}
.clogo {
	width: 100%;
	min-height: 100px;
	text-align: center;
}
.cplace {
	min-height: 100px;
	text-align: center;
}
.cplace > div:nth-child(1) {
	margin: 40px 0 0 0;
	padding: 0;
	font-size: 2.675em;
	font-size: 3.3vw;
	font-family: 'quarkbold';
}
.cplace > div:nth-child(1) span {
	color: #EA4335;
}
.cplace > div:nth-child(2) {
	margin: 0;
	padding: 0;
	font-size: 2em;
	font-size: 3vw;
	font-family: 'quarkbold';
}
.second-content {
	width: 100%;
	min-height: 60px;
	margin: 0;
	padding: 0 0 20px 0;
}
.invite-bnn {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 2.875em;
	font-size: 3.5vw;
	font-family: 'quarkbold';
	color: #E01717;
}
.invite-bnn span:nth-child(1) {
	font-size: 1em;
	font-size: 3.2vw;
	color: #E01717;
}

.invite-bnn span:nth-child(2) {
	padding-left: 10px;
}
.invite-bnn span:nth-child(3) {
	display: block;
	margin: 0 auto;
	color: #FF6100;
}
.regis-bnn {
	margin: 20px 0 0 0;
	text-align: center;
}
.regis-bnn a {
	margin: 0;
	padding: 5px 10px;
	font-size: 3em;
	font-size: 3.50vw;
	font-family: 'quarkbold';
}
.third-content,
.fourth-content,
.fourth-content_II,
.fifth-content {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'quarkbold';
}
.third-content > div,
.fourth-content > div,
.fourth-content_II > div,
.fifth-content > div {
	width: 90%;
	margin: 0 auto;
	padding: 0;
}
.third-content > div,
.fifth-content > div {
	background: #cccccc;
}
.fourth-content > div {
	background: #f4f4f4;
}
.third-content > div > div > div:nth-child(1) {
	margin: 15px 0 0 0;
	padding: 0;
	line-height: .80em;
	font-family: 'quarkbold';
	font-size: 2.275em;
	font-size: 2.30vw;
	color: #333333;
}
.third-content > div > div > div:nth-child(2) {
	margin: 0;
	padding: 0;
	font-family: 'quarkbold';
	font-size: 1.50em;
	font-size: 1.50vw;
	color: #FF4500;
}
/*
.fourth-content > div > div:nth-child(1) > div:nth-child(1),
.fourth-content > div > div:nth-child(1) > div:nth-child(2),
.fourth-content > div > div:nth-child(1) > div:nth-child(3),
.fourth-content > div > div:nth-child(1) > div:nth-child(4),
.fourth-content > div > div:nth-child(2) > div:nth-child(1),
.fourth-content > div > div:nth-child(2) > div:nth-child(2) {
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
.fourth-content > div > div:nth-child(1) > div:nth-child(1) > p:nth-child(1),
.fourth-content > div > div:nth-child(1) > div:nth-child(3) > p:nth-child(1),
.fourth-content > div > div:nth-child(1) > div:nth-child(4) > p:nth-child(1) {
	margin: 15px 0 0 0;
	font-size: 1.50em;
	font-size: 1.50vw;
}
.fourth-content > div > div:nth-child(1) > div:nth-child(1) > p:nth-child(2),
.fourth-content > div > div:nth-child(1) > div:nth-child(3) > p:nth-child(2),
.fourth-content > div > div:nth-child(1) > div:nth-child(4) > p:nth-child(2) {
	line-height: .80em;
	font-size: 1.50em;
	font-size: 1.50vw;
	color: red;
}
.fourth-content > div > div:nth-child(1) > div:nth-child(2) > ul,
.fourth-content > div > div + div > div:nth-child(2) > ul {
	margin-top: 20px;
}
.fourth-content > div > div:nth-child(1) > div:nth-child(2) > ul li,
.fourth-content > div > div + div > div:nth-child(2) > ul li {
	font-size: 1.30em;
	font-size: 1.30vw;
}
.fourth-content > div > div:nth-child(1) > div:nth-child(2) > ul + p {
	line-height: .80em;
	font-size: 1.30em;
	font-size: 1.30vw;
	color: #CE0000;
}
.fourth-content > div > div:nth-child(1) > div:nth-child(4) > p:nth-child(1) span {
	margin: 0;
	padding: 0 5px;
	font-size: 1.20em;
	font-size: 1.20vw;
	color: #056839;
}
.fourth-content > div > div:nth-child(1) > div:nth-child(4) > p:nth-child(3) {
	line-height: .80em;
	font-size: 1.30em;
	font-size: 1.30vw;
	color: #CE0000;
}
.fourth-content > div > div + div > div:nth-child(1) > p:nth-child(1) {
	margin: 15px 0 0 0;
	font-size: 1.50em;
	font-size: 1.50vw;
}
.fourth-content > div > div + div > div:nth-child(1) > p:nth-child(2) {
	line-height: .80em;
	font-size: 1.50em;
	font-size: 1.50vw;
	color: red;
}
.fourth-content > div > div + div > div + div + div > figure {
	width: 220px;
	height: auto;
	margin: 0 auto;
}
.fourth-content > div > div + div > div + div + div > figure > figcaption {
	display: none;
}
*/
.fifth-content > div > div {
	margin: 0;
	padding: 10px 0 0 0;
}
.fifth-content > div > div > p {
	width: 90%;
	margin: 0 auto;
	font-size: 1.30em;
	font-size: 1.30vw;
}
.fifth-content > div > div > p > span:nth-child(2) {
	color: red;
}
figcaption {
	display: none;
}